{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 class="display-2">Loke</h2>
        <p class="lead">Dette arkivet inneholder følgende samlinger:</p>
    </div>
    <div class="row">
        <ul>
            {% for route in routes %}
                <li>
                    <a href="{{ env['pywb.app_prefix'] + '/' + route }}">{{ '/' + route }}</a>
                    {% if all_metadata and all_metadata[route] %}
                        ({{ all_metadata[route].title }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
